@using System.Collections.Generic

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <label>@title</label>
    <select @onchange="OnOptionChange" class="form-control form-control-sm">
        @foreach (var option in data)
        {
            <option value=@option>@option</option>
        }
    </select>
}

@code {
    [Parameter]
    public string[] data { get; set; }

    [Parameter]
    public string title { get; set; }

    [Parameter]
    public string Option { get; set; }

    [Parameter]
    public EventCallback<string> optionChanged { get; set; }

    private Task OnOptionChange(ChangeEventArgs e)
    {
        Option = e.Value.ToString();
        return optionChanged.InvokeAsync(Option);
    }
}
