@using System.Net.Http
@using System.Net.Http.Headers
@using BlazorHearthstone
@inject HttpClient Http

@if (information == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row">
        <div class="form-group col-md-4">
            <Dropdown data=@information.classes title="Class" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.standard title="Standard" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.wild title="Wild" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.types title="Type" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.factions title="Faction" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.qualities title="Quality" />
        </div>
        <div class="form-group col-md-4">
            <Dropdown data=@information.races title="Race" />
        </div>
    </div>
}

@code {
    private Information information;

    protected override async Task OnInitializedAsync()
    {
        //Http.DefaultRequestHeaders.Add("x-rapidapi-host", "omgvamp-hearthstone-v1.p.rapidapi.com");
        //Http.DefaultRequestHeaders.Add("x-rapidapi-key", "bf573e4c20msha3623090d8c9576p131344jsne09e72771c1f");

        information = await Http.GetJsonAsync<Information>("https://omgvamp-hearthstone-v1.p.rapidapi.com/info");
    }
}